<p id="notice"><%= notice %></p>

<h1>Plans</h1>
<h1>Hello World</h1>
<table>
  <thead>
    <tr>
      <th>Task</th>
      <th>Date</th>
      <th>Category</th>
      <th>Done</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.task %></td>
        <td><%= plan.date %></td>
        <td><%= plan.category %></td>
        <td><%= plan.done %></td>
        <td><%= plan.comment %></td>
        <td><%= link_to 'Show', plan %></td>
        <td><%= link_to 'Edit', edit_plan_path(plan) %></td>
        <td><%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plan', new_plan_path %>
